# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local database
db.sqlite3

# Static files
staticfiles/

# Environments
.env
.venv
env/
venv/

# MacOS-specific files
.DS_Store
