{% extends "base.html" %}

{% block scripts %}

{{ data|json_script:"data" }}

{% load static %}
<script type="text/javascript" src="{% static 'script.js' %}" defer></script>

{% endblock %}

{% block content %}

<div id="filterSettings" class="sidebar">
  <a href="javascript:void(0)" class="closefiltersettings" onclick="closeFilterSettings()">&times;</a>
  <div id="filterCheckboxes" class="filtercheckboxes">
  </div>
</div>
<div id="content" class="content">
  <div class="row">
    <button class="openfiltersettings" onclick="openFilterSettings()">&#9776; Filter</button>
    <div class="sortDropdown">
        <button class="sortButton" onclick="sortDropdown()">Sort</button>
        <div id="sortDropdownContent" class="sortDropdownContent">
          <a id="sortAZButton" onclick="sortAZ()" href="#">Sort A-Z</a>
          <a id="sortZAButton" onclick="sortZA()" href="#">Sort Z-A</a>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div id="chart_div_avr_all_time" class="chart"></div>
    </div>
    <div class="column">
      <div id="chart_div_avr_over_time" class="chart"></div>
    </div>
    <div class="column">
      <div id="chart_div_price_over_time" class="chart"></div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div id="chart_div_inverse_gini_all_time" class="chart"></div>
    </div>
    <div class="column">
      <div id="chart_div_inverse_gini_over_time" class="chart"></div>
    </div>
    <div class="column">
      <div id="chart_div_volume_over_time" class="chart"></div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div id="chart_principal_components" class="chart"></div>
    </div>
    <div class="column">
    </div>
    <div class="column">
    </div>
  </div>
</div>

{% endblock %}
