{% extends "base.html" %}

{% block scripts %}

{{ data|json_script:"data" }}

{% load static %}
<script type="text/javascript" src="{% static 'script.js' %}"></script>

{% endblock %}

{% block content %}

<div class="row">
  <div class="column">
    <div id="chart_div_avr_all_time" class="chart"></div>
  </div>
  <div class="column">
    <div id="chart_div_avr_over_time" class="chart"></div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div id="chart_div_price_over_time" class="chart"></div>
  </div>
  <div class="column">
    <div id="chart_div_volume_over_time" class="chart"></div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div id="chart_div_inverse_gini_all_time" class="chart"></div>
  </div>
  <div class="column">
    <div id="chart_div_inverse_gini_over_time" class="chart"></div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div id="chart_principal_components" class="chart"></div>
  </div>
  <div class="column">
  </div>
</div>

{% endblock %}
