{% extends "base.html" %}

{% block scripts %}

{{ data|json_script:"data" }}

{% load static %}
<script type="text/javascript" src="{% static 'script.js' %}" defer></script>

{% endblock %}

{% block content %}

<div id="filterSettings" class="sidebar">
  <a href="javascript:void(0)" class="closefiltersettings" onclick="closeFilterSettings()">&times;</a>

  <hr>

  <input id="dateRangeSlider" type="range" list="dateRange" min="30" max="150" step="30" value="150">
  <datalist id="dateRange" class="sliderText">
    <option value="30" label="30">30</option>
    <option value="60" label="60">60</option>
    <option value="90" label="90">90</option>
    <option value="120" label="120">120</option>
    <option value="150" label="150">150</option>
  </datalist>
  <label for="dateRange" class="sidebarText">Days to display</label>

  <hr>

  <label class="switch">
    <input id="offchainToggle" type="checkbox" checked>
    <span class="slider"></span>
  </label>
  <p class="sidebarText">Display Off-Chain Data</p>

  <label class="switch">
    <input id="onchainToggle" type="checkbox" checked>
    <span class="slider"></span>
  </label>
  <p class="sidebarText">Display On-Chain Data</p>

  <hr>

  <div id="filterCheckboxes" class="filterCheckboxes">
    <p class="sidebarText">Toggle Individual DAOs</p>
  </div>
</div>
<div id="content" class="content">
  <div class="row">
    <button class="openfiltersettings" onclick="openFilterSettings()">&#9776; Filter</button>
    <div class="sortDropdown">
        <button class="sortButton" onclick="toggleDropdown()">&#9776; Sort</button>
        <div id="sortDropdownContent" class="sortDropdownContent">
          <a id="sortAZButton" onclick="sortAZ()" href="#">Sort by Alphabetical Order</a>
          <a id="sortZAButton" onclick="sortZA()" href="#">Sort by Reverse Alphabetical Order</a>
          <a id="sortIncreasingVotingRateButton" onclick="sortIncreasingVotingRate()" href="#">Sort by Increasing Voting Rate</a>
          <a id="sortDecreasingVotingRateButton" onclick="sortDecreasingVotingRate()" href="#">Sort by Decreasing Voting Rate</a>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div id="chart_div_avs"></div>
    </div>
    <div class="column">
      <div id="chart_div_avr_all_time"></div>
    </div>
    <div class="column">
      <div id="chart_div_avr_over_time"></div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div id="chart_div_top_ten_power"></div>
    </div>
    <div class="column">
      <div id="chart_div_price_over_time"></div>
    </div>
    <div class="column">
      <div id="chart_div_volume_over_time"></div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div id="chart_principal_components"></div>
    </div>
    <div class="column">
      <div id="chart_yes_vote_shares"></div>
    </div>
    <div class="column">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div id="chart_div_inverse_gini_all_time"></div>
    </div>
    <div class="column">
      <div id="chart_div_inverse_gini_over_time"></div>
    </div>
    <div class="column">
    </div>
  </div>
</div>

{% endblock %}
